/* Общие стили для body и html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Отключаем прокрутку */
}


/* Фон страницы */
body {
    background-color: #464646; /* Фон страницы */
    overflow: hidden; /* Запрещаем прокрутку */
    position: relative;
}


/* Фоновое изображение */
body::before {
    content: '';
    background: url('../assets/playlist2.jpg') no-repeat left center;
    background-size: contain; /* Сохраняет соотношение сторон изображения */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Заполняем весь экран по ширине */
    height: 100%; /* Заполняем весь экран по высоте */
    z-index: -1; /* Помещаем изображение за содержимое страницы */
    opacity: 0.93;
}

/* ==== Заголовок блока ==== */
/* Основной контейнер с содержимым */
.main-content {
    position: relative;
    width: 100%;
    height: 100vh; /* Устанавливаем высоту на весь экран */
}


/* Контейнер с надписью "Your Playlist" */
.your-playlist-container {
    background-color: #3A1717; /* Красный цвет */
    border-radius: 11px 11px 0 0; /* Скругленные углы сверху */
    border: 3px solid #3a1717;
    padding: 10px 20px; /* Отступы */
    box-shadow: 4px 0px 8px rgba(58, 23, 23, 0.9); /* Тень */

    /* Позиционирование и размеры */
    position: absolute;
    top: 10%; /* Сдвиг вниз */
    left: 60%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Выравниваем по центру */

    width: 17%; /* Ширина */
    height: 6%; /* Высота */

    display: flex;
    align-items: center; /* Центрируем текст */
    justify-content: center; /* Центрируем текст */
    z-index: 10;
}

/* Текст внутри */
.your-playlist {
    color: #E6E6E6; /* Цвет текста */
    font-family: 'Antic Didone', 'Noto Sans', serif; /* Шрифт */
    font-size: 21px; /* Размер шрифта в пикселях */
    text-align: center; /* Текст по центру */
    margin: 0; /* Убираем отступы вокруг текста */
}


/* ==== Блок с песнями ==== */
.song-container {
    background-color: #e6e6e6; /* Цвет фона */
    border: 3px solid #3a1717;
    box-shadow: 4px 4px 8px rgba(58, 23, 23, 0.9); /* Тень */
    border-radius: 0 0 11px 11px;

    /* Позиционирование и размеры */
    position: absolute;
    top: 18%; /* Сдвиг вниз */
    left: 60%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Выравниваем по центру */

    width: 17%; /* Ширина */
    height: 64%; /* Высота */
    padding: 20px;

    overflow: auto; /* Прокрутка для содержимого */

    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: flex-start; /* Размещаем элементы сверху */
}

/* Список песен */
.songs {
    list-style-type: none; /* Убираем маркеры у списка */
    padding: 0; /* Убираем отступы списка */
    margin: 0; /* Убираем внешние отступы */
    line-height: 1; /* Высота строки (уменьшает/увеличивает расстояние между строками) */
    letter-spacing: 0.05em; /* Увеличиваем или уменьшаем расстояние между буквами */
    text-align: center; /* Центрируем весь текст в списке */
}

/* Элементы песен */
.song-item {
    font-family: 'Antic Didone', 'Noto Sans', serif; /* Шрифт */
    font-size: 15px; /* Размер шрифта */
    color: #121212; /* Цвет текста */
    margin-bottom: 5px; /* Отступ между песнями */
    padding: 10px 0; /* Отступы внутри элемента */
    display: flex; /* Используем flex для расположения внутри песни */
    flex-direction: column; /* Элементы будут располагаться по вертикали */
}

/* Элементы внутри песни (название, исполнитель, длительность) */
.song-item h4, .song-item p {
    margin: 5px 0; /* Добавляем немного отступов между элементами */
}
/* Для выравнивания названия, исполнителя и длительности на одной линии */
.song-item .song-info {
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: flex-start; /* Размещаем элементы по левому краю */
}
/* Чтобы элементы внутри song-info не переполняли друг друга */
.song-item .song-info p {
    margin-right: 10px; /* Добавляем отступ между исполнителем, названием и длительностью */
}

/* Ссылки в названиях песен */
.songs li a {
    color: #121212; /* Исходный цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавный переход для цвета текста */
}
/* При наведении на ссылку (название песни) */
.songs li a:hover {
    color: #600200; /* Цвет текста при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}


/* ==== Кнопки ==== */

/* Контейнер для кнопки СОХРАНИТЬ */
.save-container {
    position: absolute;
    bottom: 7.51%;
    left: 55%;                /* сдвигаем влево от центра страницы */
    transform: translateX(-50%);
    text-align: center;
}

/* Кнопка сохранить (выглядит как ссылка-кнопка) */
.save-container button {
    background: none;
    border: none;
    font-family: 'Castoro Titling', serif;
    font-size: 18px;
    color: #e6e6e6;
    text-decoration: none;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.save-container button:hover {
    color: #600200;
    border-color: #600200;
}


/* Контейнер для кнопки НАЗАД */
.go-back {
    position: absolute;
    bottom: 8%;
    left: 65%;
    transform: translateX(-50%);
    text-align: center;
}

/* Ссылка, которая выглядит как кнопка */
.go-back a {
    font-family: 'Castoro Titling', serif;
    font-size: 18px;
    color: #e6e6e6;
    text-decoration: none;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.go-back a:hover {
    color: #600200;
    border-color: #600200;
}


/* ==== Окно с тегами ==== */
/* Всплывающее окно */
.tag-popup {
    position: absolute;
    top: 0;
    left: 100%; /* Позиционирование справа от .song-container */
    background-color: rgba(58, 23, 23, 0.9);
    color: #e6e6e6;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    text-align: center; /* Выровнять текст внутри */
    display: none; /* Изначально скрыто */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 5%;
    z-index: 10;
}

/* Стили для списка тегов в всплывающем окне */
#tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tag-list li {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Antic Didone', 'Noto Sans', sans-serif;
}
