/* Общие стили для body */
html, body {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    height: 100%; /* Высота на весь экран */
    font-size: clamp(14px, 1.5vw, 16px);
    overflow: hidden; /* Предотвращаем скроллинг, если фон выходит за пределы */
}


/* Стиль для фонового изображения с прозрачностью */
body::before {
    content: '';
    background: url('../assets/background2.jpg') no-repeat center center; /* Центрирование фона */
    background-size: cover; /* Масштабировать с сохранением пропорций */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.93; /* Прозрачность только для фона */
    z-index: -1; /* Помещаем под содержимое страницы */
    transform: scaleY(1.05); /* Лёгкое увеличение по высоте, если всё ещё нужно */
}

/* ==== Тексты ==== */

/* Стиль для текста ORPHYO */
header h1 {
    font-family: 'Castoro Titling', serif; /* Подключенный шрифт */
    font-size: clamp(2rem, 5vw, 3.125rem); /* 50px шрифт */
    color: #600200; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    text-shadow: 0px 0.25rem 0.25rem rgba(58, 23, 23, 0.8); /* Тень */
    margin: 0; /* Отступ сверху */
}

/* Стиль для описания */
p.description {
    color: #121212; /* Цвет текста */
    font-family: 'Antic Didone', serif; /* Шрифт */
    font-size: clamp(0.9rem, 1.5vw, 1.125rem); /* Меньший размер шрифта */
    text-align: center; /* Выравнивание по центру */
    margin: 0.2rem 0 0 0;
    font-weight: normal;

}

.choose-tag {
    position: fixed;
    color: #121212; /* Цвет текста */
    font-family: 'Antic Didone', serif; /* Шрифт */
    font-size: clamp(0.9rem, 1.5vw, 1rem); /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);
    top: calc(58% - 23% - 3.5rem); /* 58% (центр) - 23% (половина высоты) -  отступ */
    z-index: 111111;
    
}


/* ==== Блоки ==== */
/* Большой блок */
.tags-container {
    position: fixed;
    background-color: rgba(12, 12, 12, 0.6); /* Черный фон с прозрачностью */
    border-radius: 11px; /* Скругленные углы */
    position: fixed; /* Позиционируем относительно окна */
    top: 58%; /* Центр по вертикали */
    left: 50%; /* Центр по горизонтали */
    width: 14%; /* Ширина */
    height: 46%; /* Высота */
    padding: 1.259%; /* внешние поля */
    display: flex; /* Для расположения маленьких блоков по горизонтали */
    flex-direction: column; /* Размещение блоков по вертикали */
    gap: 4%; /* Расстояние между блоками */
    transform: translate(-50%, -50%); /* Сдвигаем блок на 50% по обеим осям, чтобы точно отцентрировать */
    justify-content: center; /* Центрируем элементы по вертикали */

}

/* Маленькие красные блоки для категорий */
.tag-button {
    background-color: #3A1717; /* Красный цвет */
    opacity: 0.93; /* Прозрачность */
    border: none; /* Без скругленных углов */
    padding: 4.5% 2%; /* длина и щирина блоков*/
    color: #E6E6E6; /* Цвет текста */
    font-family: 'Antic Didone', serif; /* Шрифт */
    font-size: 0.9375rem; /* Размер шрифта */
    text-align: center; /* Текст по центру */
    cursor: pointer; /* Курсор при наведении */
    margin-top: 5%;
    box-shadow: 0px 0.25rem 0.25rem rgba(58, 23, 23, 0.73);
}
/* Чтобы каждый следующий блок был ниже предыдущего */
.tag-button:nth-child(n+2) {
    margin-top: 4%;
}
/* Когда кнопка выбрана (при нажатии) */
.tag-button.selected {
    background-color: #600200; /* Меняем цвет на #600200 при клике */
    opacity: 1;
}
/*  Подсветка кнопок категорий при наведении */
.tag-button:hover {
    background-color: #600200; /* Цвет фона при наведении */
    opacity: 1; /* Полная непрозрачность */
}


/* ==== Штуки с модальным окном ==== */
/* Модальное окно для категории */
.category-window {
    position: fixed;
    top: 58%; 
    left: 63.5%;
    background-color: #600200;
    padding: 1.5%;
    width: 7%;
    height: 45.5%;
    overflow-y: auto;  /* Прокрутка, если тегов больше */
    box-shadow: 0px 0.25rem 0.25rem rgba(58, 23, 23, 0);
    display: none; /* Изначально скрыто */
    border-radius: 11px; /* Скругленные углы */
    font-family: 'Antic Didone', serif; /* Шрифт */
    letter-spacing: 0.5%; /* Расстояние между буквами */
    transform: translate(-50%, -50%);
    
}

/* Стиль для контейнера с тегом */
.category-content .tags {
    display: inline-flex; /* Располагает чекбокс и текст в одну строку */
    align-items: center; /* Выравнивает чекбокс и текст по вертикали */
    margin-bottom: 0.4375rem; /* Отступ снизу между тегами */
    margin-left: 0; /* Убираем отступ слева */
    padding-left: 0.3125rem;
    width: 100%; /* Заставляем контейнер занимать всю ширину */
    justify-content: flex-start; /* Выравниваем элементы по левому краю */
}
/* Стиль для каждого тега */
.category-content .tags label {
    margin-left: 0.3125rem; /* Отступ между чекбоксом и текстом */
    font-family: 'Antic Didone', serif;
    font-size: 0.8125rem;
    color: #E6E6E6; /* Цвет текста по умолчанию */
}

/* Стиль для чекбоксов */
.category-content .tags input[type="checkbox"] {
    margin-right: 0.625rem;
    border: 0.125rem solid #E6E6E6; /* Стандартная рамка */
    accent-color: #600200; /* Цвет чекбокса по умолчанию */
}
/* Стиль для чекбокса при наведении */
.category-content .tags input[type="checkbox"]:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
/* Стиль для активных (выбранных) чекбоксов */
.category-content .tags input[type="checkbox"]:checked {
    background-color: #600200; /* Цвет фона для выбранного чекбокса */
    border-color: #3A1717; /* Цвет рамки при выборе */
    accent-color: #3A1717; /* Цвет самого чекбокса при выборе */
}


/* ==== Generate с подчеркиванием ==== */
/* Стиль для контейнера с кнопками */
.generate-container {
    position: fixed;
    bottom: 9.5%; /* Расстояние от нижней части экрана */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Корректировка для точного центрирования */
    z-index: 9999; /* Убедимся, что кнопки находятся поверх других элементов */
    width: auto;
    text-align: center;
    
}
/* Общие стили для ссылок (кнопок) */
a {
    font-family: 'Castoro Titling', serif;
    font-size: 20px;
    color: #600200;
    text-shadow: 0px 0.25rem 0.25rem rgba(58, 23, 23, 0.8);
    text-decoration: underline;
    cursor: pointer;
    display: block; /* Сделать ссылки блочными для вертикального размещения */
    margin-bottom: 0.3125rem; /* Расстояние между кнопками*/
}

/* Стили для активной кнопки (generate playlist) */
#generate-playlist {
    color: #600200;
    text-decoration: underline;
}

/* Стили для неактивной кнопки (generate song) */
#generate-song {
    color: #600200;
    text-decoration: underline;
    cursor: not-allowed;
    pointer-events: none;
}


/* ==== Кнопка иконка ==== */
/* Стили */
.icon-button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto 2rem auto; 
}

.icon-button img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Сохраняем пропорции изображения */
    border-radius: 50%; /* Закругляем края изображения */
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.5); /* Добавляем тень */
}

.icon-button:hover img {
    opacity: 0.8; /* Меняем прозрачность при наведении */
    transform: scale(1.1); /* Увеличиваем иконку */
    transition: 0.3s ease; /* Плавность анимации */
}


